.Footer {
    width: 100%;
    height: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F4858;
    margin-top: 64px;
}

.footer_content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logoFooter {
    width: 170px;
    height: 75px;
    flex-shrink: 0;
}

.nav-footer {
    list-style-type: none;
    padding: 0;
}

.nav_links_footer {
    color: #FFF;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer_title {
    color: #FFF;
    font-family: "Red Hat Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin: 12px 0px;
}

.footer_title_links {
    color: #FFF;
    font-family: "Red Hat Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin: 12px 0px;
    text-align: left;
}

.contact_footer {
    color: #FFF;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.list_item_footer {
    margin: 12px 0px;
}

.icon_text {
    display: flex;
}

.nav_footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 820px) {
    .Footer {
        height: auto;
        align-items: center;
    }

    .footer_content {
        flex-direction: column;
        margin: 40px 15%;
    }
}