.category_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: 350px;
    height: 170px;
    background-color: orange;
    margin: 20px;
    padding: 45px;
    border-radius: 20px;
    justify-content: center;


}

.title {
    font-size: 35px;
    color: #FFFF;
    text-align: center;
    margin-top: 41px;
    display: flex;
    flex-direction: column;

}

.btn_info {
    background-color: transparent;
    border: transparent;
    color: #FFFF;
    font-weight: bold;
    cursor: pointer;
}


.btn_plus {

    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 18%;
}

.search {
    width: 549.62px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    position: absolute;
    top: 3%;
    right: 30%;
}

@media (max-width: 800px) {
    .group_card {
        flex-direction: column;
        width: 160px;



    }

    .card {
        width: 100%;
        margin: 20px;
        margin-right: 10px;
    }

    .search {
        width: 200px;
        right: 20%;
    }
}

@media (max-width: 1148px) {
    .search {
        width: 400.62px;
    }

}

@media (max-width: 702px) {
    .search {
        width: 300px;


    }
}

@media (max-width: 578px) {
    .search {
        width: 80px;
        right: 35%;
    }

    .card {
        width: 290px;
        margin: 10px;
    }

    .category_card {
        padding: 0;
        flex-direction: column;
        margin: 10px;
    }

}